@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TwitterChirp";
    src: url("https://abs.twimg.com/fonts/v2/chirp-regular-web.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TwitterChirp";
    src: url("https://abs.twimg.com/fonts/v2/chirp-bold-web.woff")
        format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TwitterChirp";
    src: url("https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff")
        format("woff");
    font-weight: 900;
    font-style: normal;
}

.default-style {
    @apply min-h-screen font-TwitterChirp light:bg-white light:text-black dim:bg-dim dim:text-white dark:bg-black dark:text-white;
}

.bg-theme {
    @apply text-white light:bg-white light:text-black dim:bg-dim dark:bg-black;
}

.bg-theme-blur {
    @apply text-white backdrop-blur-md light:bg-white/[0.65] light:text-black dim:bg-dim/[0.65] dark:bg-black/[0.65];
}

.bg-accent {
    @apply text-white blue:bg-blue yellow:bg-yellow pink:bg-pink purple:bg-purple orange:bg-orange green:bg-green;
}

.text-accent {
    @apply text-white blue:text-blue yellow:text-yellow pink:text-pink purple:text-purple orange:text-orange green:text-green;
}

.fill-accent {
    @apply fill-white blue:fill-blue yellow:fill-yellow pink:fill-pink purple:fill-purple orange:fill-orange green:fill-green;
}

.shadow-popup {
    @apply shadow-[0_0_15px_0_rgba(255,255,255,0.2),0_0_3px_1px_rgba(255,255,255,0.15)] light:shadow-[0_0_15px_0_rgba(101,119,134,0.2),0_0_3px_1px_rgba(101,119,134,0.15)];
}

#floating:not(:placeholder-shown) ~ label {
    @apply -translate-y-3 scale-80 transform;
}
